{% extends 'home/base.html' %}
{% load static %}

{% block body %}
<div class="container">

  <div class="starter-template">
    <div>
      {{ response }}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Resorts</h2>
      <p><a class="btn btn-primary" href="{% url 'resorts:index' %}" role="button">Resorts &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Utah Avalanche Center</h2>
      <p><a class="btn btn-primary" href="{% url 'resorts:uaac' %}" role="button">Utah Avalanche Center &raquo;</a></p>
    </div>
  </div>

</div><!-- /.container -->
{% endblock %}
