{% extends 'home/base.html' %}
{% load static %}

{% block body %}
<div class="container">

  <div class="starter-template">
    <div>
      {{ response }}
    </div>
  </div>

  <div class="row" style="margin-left:120px;">
    <div class="col-lg-4">
      <h2><a href="{% url 'resorts:index' %}" style="color:#222;" role="button">Resorts</a></h2>
      <!-- <p><a class="btn btn-primary" href="{% url 'resorts:index' %}" role="button">Resorts &raquo;</a></p> -->
      <div class="dropdown2">
        <button class="dropbtn2">Resorts<span class="caret"></span></button>
        <div class="dropdown-content2">
          <a href="{% url 'resorts:alta' %}">Alta</a>
          <a href="{% url 'resorts:snowbird' %}">Snowbird</a>
          <a href="{% url 'resorts:brighton' %}">Brighton</a>
          <a href="{% url 'resorts:solitude' %}">Solitude</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2>Utah Avalanche Center</h2>
      <div class="dropdown2" style="margin-top:12px;">
        <p><a class="dropbtn2" href="{% url 'resorts:uaac' %}" role="button">Utah Avalanche Center</a></p>
      </div>
    </div>
  </div>

</div><!-- /.container -->
{% endblock %}
