{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Alta Report
{% endblock %}

{% block body %}
<script src="{% static 'myScript.js' %}"></script>

<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <!-- <img src="{% static '/images/alta-logo.jpg' %}" style="width:100%; height:100%;"></img> -->
        <h1>Alta Ski Resort Weather Report</h1>
        <p>{{ latest_alta_weather.last_updated_time }}</p>
      </div>
      {% if latest_alta_weather %}
      <div class="row">
        <div class="col-xs-6 col-lg-4 resorts-col">
          <h2>Snow Stuffs</h2>
          <table class="resorts-main-table">
            <tr>
              <td><p><strong>Twelve hour snow:</strong> {{ latest_alta_weather.twelve_hour_snow }}</p></td>
            </tr>
            <tr>
              <td><p><strong>Twenty-four hour snow:</strong> {{ latest_alta_weather.twenty4_hour_snow }}</p></td>
            </tr>
            <tr>
              <td><p><strong>Base depth:</strong> {{ latest_alta_weather.base }}</p></td>
            </tr>
            <tr>
              <td><p><strong>Total snow this season:</strong> {{ latest_alta_weather.total_snow }}</p></td>
            </tr>
          </table>
        </div>
        <div class="col-xs-6 col-lg-4 resorts-col">
          <h2>Current Weather</h2>
          <table class="resorts-main-table">
            <tr>
              <td><p><strong>Current temperature:</strong> {{ latest_alta_weather.current_temp }}</p></td>
            </tr>
            <tr>
              <td><p><strong>Sun and wind:</strong> {{ latest_alta_weather.current_weather }}</p></td>
            </tr>
            <tr>
              <td><p><strong>Forecast:</strong> {{ latest_alta_weather.forecast|linebreaksbr }}</p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% else %}
    <p>No weather is available.</p>
    {% endif %}

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="https://www.alta.com/conditions/daily-mountain-report/snow-report" target="_blank" class="list-group-item">Official Alta Snow Report</a>
        <a href="https://forecast.weather.gov/MapClick.php?site=slc&smap=1&textField1=40.584583333333&textField2=-111.62125#.VQs510bwO1w" target="_blank" class="list-group-item">National Weather Service - Alta, UT</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->
  <div class="resort-history">
    {% if past_three_days %}
    <h2>Past 3 days:</h2>
    {% for day in past_three_days %}
    <div class="col-xs-6 col-lg-4">
      <h4><strong>{{ day.last_updated }}</strong></h4>
      <table class="resorts-history-table">
        <tr><td><p>{{ day.last_updated_time }}</p></td></tr>
        <tr><td><p><strong>Twelve hour snow:</strong> {{ day.twelve_hour_snow }}</p></td></tr></td></tr>
        <tr><td><p><strong>Twenty-four hour snow:</strong> {{ day.twenty4_hour_snow }}</p></td></tr>
        <tr><td><p><strong>Base depth:</strong> {{ day.base }}</p></td></tr>
        <tr><td><p><strong>Total snow this season:</strong> {{ day.total_snow }}</p></td></tr>
        <tr><td><p><strong>Temperature:</strong> {{ day.current_temp }}</p></td></tr>
        <tr><td><p><strong><strong>Sun and wind:</strong> {{ day.current_weather }}</p></td></tr>
        <tr><td><p><strong>Forecast:</strong> {{ day.forecast|linebreaksbr }}</p></td></tr>
      </table>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div><!-- /container-->
{% endblock %}
