{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Resorts
{% endblock %}

{% block body %}
<!-- <div>
{{ response }}
</div> -->
<div style="overflow-x: hidden; height: 100%;">
  <div class="row resorts-row1">
    <div class="col-lg-4 resorts-col-left">
      <div class="image">
        <a href="{% url 'resorts:alta' %}"><img src="{% static 'images/alta-resorts2.jpg' %}"/></a>
      </div>
      <div class="resorts-name">
        <h2>Alta</h2>
      </div>
    </div>
    <div class="col-lg-4 resorts-col-right">
      <div class="image">
        <a href="{% url 'resorts:snowbird' %}"><img src="{% static 'images/snowbird-resorts2.jpg' %}"></a>
      </div>
      <div class="resorts-name">
        <h2>Snowbird</h2>
      </div>
    </div>
  </div>
  <div class="row resorts-row2">
    <div class="col-lg-4 resorts-col-left">
      <div class="image">
        <a href="{% url 'resorts:brighton' %}"><img src="{% static 'images/brighton-resorts2.jpg' %}"></a>
      </div>
      <div class="resorts-name">
        <h2>Brighton</h>
        </div>
      </div>
      <div class="col-lg-4 resorts-col-right">
        <div class="image">
          <a href="{% url 'resorts:solitude' %}"><img src="{% static 'images/solitude-resort.jpg' %}"></a>
        </div>
        <div class="resorts-name">
          <h2>Solitude</h2>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
