{% extends 'home/base.html' %}
{% load static %}

{% block title %}
  Resorts
{% endblock %}

{% block body %}
  <div>
    {{ response }}
  </div>
  <div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Alta</h2>
        <p><a class="btn btn-primary" href="{% url 'resorts:alta' %}" role="button">Alta Report</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Snowbird</h2>
        <p><a class="btn btn-primary" href="{% url 'resorts:snowbird' %}" role="button">Snowbird Report</a></p>
     </div>
     <div class="col-lg-4">
       <h2>Brighton</h2>
       <p><a class="btn btn-primary" href="{% url 'resorts:brighton' %}" role="button">Brighton Report</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Solitude</h2>
      <p><a class="btn btn-primary" href="{% url 'resorts:solitude' %}" role="button">Solitude Report</a></p>
   </div>
   </div>
 </div>
{% endblock %}
