{% extends 'home/base.html' %}
{% load static %}

{% block title %}
  Resorts
{% endblock %}

{% block body %}
  <div>
    {{ response }}
  </div>
  <div style="overflow-x: hidden;">
    <div class="row">
      <div class="col-lg-4 resorts-col-left" style="background-image: url({% static 'images/alta-resorts.jpg' %});">
        <h2>Alta</h2>
        <p><a class="btn btn-primary" href="{% url 'resorts:alta' %}" role="button">Alta Report</a></p>
      </div>
      <div class="col-lg-4 resorts-col-right" style="background-image: url({% static 'images/snowbird-resorts.jpg' %});">
        <h2>Snowbird</h2>
        <p><a class="btn btn-primary" href="{% url 'resorts:snowbird' %}" role="button">Snowbird Report</a></p>
     </div>
   </div>
   <div class="row" style="margin-top: 15px;">
     <div class="col-lg-4 resorts-col-left" style="background-image: url({% static 'images/brighton-resorts.jpg' %});">
       <h2>Brighton</h2>
       <p><a class="btn btn-primary" href="{% url 'resorts:brighton' %}" role="button">Brighton Report</a></p>
    </div>
    <div class="col-lg-4 resorts-col-right" style="background-image: url({% static 'images/solitude-resorts.jpg' %});">
      <h2>Solitude</h2>
      <p><a class="btn btn-primary" href="{% url 'resorts:solitude' %}" role="button">Solitude Report</a></p>
   </div>
 </div>
   </div>
 </div>
{% endblock %}
