{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Solitude Report
{% endblock %}

{% block body %}
<script src="{% static 'myScript.js' %}"></script>

<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>Solitude Ski Resort Weather Report</h1>
        <p>{{ latest_solitude_weather.last_updated_time }}</p>
      </div>
      {% if latest_solitude_weather %}
      <div class="row" style="margin-left:auto; margin-right:auto;">
        <div class="col-xs-6 col-lg-4" style="margin-left: 120px;">
          <h2>Snow Stuffs</h2>
          <table>
          <tr><td><p>Twenty-four hour snow: {{ latest_solitude_weather.twenty4_hour_snow }}</p></td></tr>
          <tr><td><p>Base depth: {{ latest_solitude_weather.base }}</p></td></tr>
          <tr><td><p>Total snow this season: {{ latest_solitude_weather.total_snow }}</p></td></tr>
        </table>
        </div>
        <div class="col-xs-6 col-lg-4" style="width: 300px; margin-right: 120px;">
          <h2>Current Weather</h2>
          <table>
          <tr><td><p>Current temperature: {{ latest_solitude_weather.current_temp }}</p></td></tr>
          <tr><td><p>Wind and sun: {{ latest_solitude_weather.current_weather }}</p></td></tr>
          <tr><td><p>Forecast: {{ latest_solitude_weather.forecast }}</p></td></tr>
        </table>
        </div>
      </div>
    </div>
    {% else %}
    <p>No weather is available.</p>
    {% endif %}

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="https://solitudemountain.com/on-the-mountain" target="_blank" class="list-group-item">Solitude Snow Report</a>
        <a href="https://forecast.weather.gov/MapClick.php?CityName=Solitude&state=UT&site=SLC&textField1=40.6211&textField2=-111.592#.VeNCjflVgUg" target="_blank" class="list-group-item">National Weather Service - Solitude, UT</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->
  <br>
  {% if past_three_days %}
  <h2>Past 3 days:</h2>
  {% for day in past_three_days %}
  <div class="col-xs-6 col-lg-4">
    <h4><strong>{{ day.last_updated }}</strong></h4>
    <table>
    <tr><td><p>{{ day.last_updated_time }}</p></td></tr>
    <tr><td><p>Twenty-four hour snow: {{ day.twenty4_hour_snow }}</p></td></tr>
    <tr><td><p>Base depth: {{ day.base }}</p></td></tr>
    <tr><td><p>Total snow this season: {{ day.total_snow }}</p></td></tr>
    <tr><td><p>Temperature: {{ day.current_temp }}</p></td></tr>
    <tr><td><p>Wind and sun: {{ day.current_weather }}</p></td></tr>
    <tr><td><p>Forecast: {{ day.forecast }}</p></td></tr>
</table>
  </div>
  {% endfor %}
  {% endif %}
<div><!--/container-->
{% endblock %}
