{% extends 'home/base.html' %}
{% load static %}

{% block title %}
UAAC Report
{% endblock %}


{% block body %}
<script src="{% static 'myScript.js' %}"></script>

<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>{{ latest_uaac_report.area }}</h1>
        <p>{{ latest_uaac_report.forcaster }}</p>
      </div>
      <div class="row" style="margin-left:auto; margin-right:auto;">
        <div class="col-xs-6 col-lg-4" style="margin-left: auto; width: 400px;">
          <h2>Advisory</h2>
          <p>{{ latest_uaac_report.advisory }}<p>
          </div>
          <div class="col-xs-6 col-lg-4" style="width: 400px; margin-right: 20px;">
            <h2>Current Conditions</h2>
            <p>{{ latest_uaac_report.current_conditions }}</p>
          </div>
        </div>
        <div class="row" style="margin-left: auto; margin-right: auto;">
          <div class="col-xs-6 col-lg-4" style="margin-left: auto; width: 400px;">
            <h2>Weather</h2>
            <p>{{ latest_uaac_report.weather }}</p>
          </div>
          <div class="col-xs-6 col-lg-4" style="width: 400px; margin-right: 20px;">
            <h2>Recent Activity</h2>
            <p>{{ latest_uaac_report.recent_activity }}</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <a href="https://utahavalanchecenter.org/advisory/salt-lake" target="_blank" class="list-group-item">UAAC Report</a>
        </div>
      </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->
    <br>
    <h2>Past 3 days:</h2>
    {% for day in past_three_days %}
    <div class="col-xs-6 col-lg-4">
        <h4><strong>{{ day.date }}</strong></h4>
        <table>
          <tr><td><p>{{ day.area }}</p></td></tr>
          <tr><td><p>{{ day.forcaster }}</p></td></tr>
          <tr><td><p><strong>Advisory:</strong> {{ day.advisory }}</p></td></tr>
          <tr><td><p><strong>Current conditions:</strong> {{ day.current_conditions }}</p></td></tr>
          <tr><td><p><strong>Weather:</strong> {{ day.weather }}</p></td></tr>
          <tr><td><p><strong>Recent activity:</strong> {{ day.recent_activity }}</p></td></tr>
        </table>
      </div>
      {% endfor %}
    </div><!--/container-->
    {% endblock %}
