body {
  padding-top: 50px;
  background:#eee;
}

.starter-template {
  text-align: center;
  margin-bottom: 90px;
}

/* Dropdown Button */
.dropbtn {
    /*background-color: #222;*/
    background-color: #243743;
    color: #fafafa;
    /*color: #eee;*/
    padding: 16px;
    font-size: 14px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #28B78D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    /*color: black;*/
    color: #243743;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  /*background-color: #222;*/
  background-color: #fafafa;
  color: #28B78D;
}

.dropdown a:hover {
  /*background-color: #222;*/
  background-color: #243743;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 3px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #eee;
    color: #28b78d;
    background-color: transparent;
}


.dropbtn2 {
    background-color: #28b78d;
    color: #243743;
    padding: 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #28B78D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
  color: #243743;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {
  background-color: #243743;
  color: #28B78D;
}

.dropdown2 a:hover {
  background-color: #243743;
  text-decoration: none;
  border-left: 0px;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
  border-radius: 0px 3px 3px 3px;
}

.dropdown2:hover .dropbtn2 {
    background-color: #243743;
    color: #28b78d;
    /*background-color: transparent;*/
    border-radius: 3px 3px 0px 0px;
    border-bottom-color: #243743;
    border-width: 2px;
}

#sidebar {
  margin-top: 60px;
}

.list-group a {
  background-color: #28B78D;
  color: #243743;
}

a.list-group-item:hover {
  background-color: #243743;
  color: #28b78d;
}

.list-group-item-hover {
  background-color: #eee;
  color: #222;
}

.resorts-row1 {
  margin-top: 50px;
}

.resorts-row2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.resorts-main-table {
  width: 300px;
  min-height: 201px;
}

.resorts-main-table tr, .resorts-history-table tr {
  border: 1px solid #8A949B;
}

.resorts-main-table td, .resorts-history-table td {
  vertical-align: middle;
  text-align: left;
  padding: 8px;
}

.resorts-main-table tr:nth-child(even), .resorts-history-table tr:nth-child(even) {
  background-color: #243743;
  color: #fafafa;
}

.resorts-main-table tr:nth-child(odd), .resorts-history-table tr:nth-child(odd) {
  background-color: #fafafa;
  color: #243743;
}

.resort-history, .uac-history {
  margin-top: 90px;
}

.resorts-col-left {
  width: 45%;
  margin-left: 65px;
  height: 300px;
  position: relative;
}

.resorts-col-right {
  width: 45%;
  margin-left:15px;
  height: 300px;
  /*overflow: hidden;*/
  position: relative;
}

.resorts-name {
  margin-top: -63px;
  position: absolute;
  background-color: rgba(0,0,0,0.61);
  width: 567px;
  border-radius: 0px 0px 10px 10px;
}

.resorts-name h2 {
  color: #eee;
  padding-left: 5px;
}

.uac-row {
  margin-left:40px;
}

.uac-col {
  width: 400px;
}

.resorts-col {
  margin-left: 80px;
}

.image, .image2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image2 img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  transform: scale(1.10);
}

.image:hover img {
    -webkit-transform:scale(1.17); /* Safari and Chrome */
    -moz-transform:scale(1.17); /* Firefox */
    -ms-transform:scale(1.17); /* IE 9 */
    -o-transform:scale(1.17); /* Opera */
    transform:scale(1.17);
}

.image2:hover img {
  -webkit-transform:scale(1.00); /* Safari and Chrome */
  -moz-transform:scale(1.00); /* Firefox */
  -ms-transform:scale(1.00); /* IE 9 */
  -o-transform:scale(1.00); /* Opera */
  transform:scale(1.00);
}

.home-row {
  margin-bottom: 60px;
}
/*div.resorts-col-right:hover, div.resorts-col-left:hover {
  transform:scale(1.25);
}*/


/*.list-group-hover {
  background-color: #eee;
  color: #222;
}*/
/*.list-group > a:nth-of-type(odd) {
  background-color: #222;
  color: #eee;
}

.list-group > a:nth-of-type(even){
  background-color: #eee;
  color: #222;
}*/

/*
.list-group > a:nth-of-type(odd):hover {
  background-color: #eee;
  color: #222
}

.list-group > a:nth-of-type(even):hover {
  background-color: #222;
  color: #eee;
}*/
